/*ejemplo con condicionales */
.bike1descripcion {
    font-family: Georgia, "Times New Roman", Times, serif;
    background-color: $primary-color;

    @if $primary-color==blue {
        color: white;
    }

    @else if $primary-color==red {
        color: yellow;
    }

    @else {
        color: black;
    }
}
