html {
  position: relative;
}
html body {
  margin: 0%;
  margin-bottom: 500px;
  background-color: rgb(26, 18, 18);
}
html body header {
  background-color: #333;
  padding: 20px;
  width: 100%;
  position: relative;
}
html body header h1 {
  text-align: center;
}
html body header ul {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #fff;
}
html body header ul li {
  display: inline-block;
  margin: 0 10px;
}

/*ejemplo con condicionales */
.bike1descripcion {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: blue;
  color: white;
}

/*ejemplo animacion */
.thecultureofbmx {
  font-size: 4rem;
  font-family: Arial, sans-serif;
  position: relative;
  animation-name: animaciontitulo;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes animaciontitulo {
  0% {
    color: #f44336;
    transform: scale(1);
  }
  50% {
    color: #9c27b0;
    transform: scale(1.2);
  }
  100% {
    color: #4caf50;
    transform: scale(1);
  }
}
/*pagina index  fotos*/
.fotosprincipales {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}

.fotosprincipales img {
  max-width: 100%;
  height: auto;
}

/*ejemplo variable*/
.mybodytext {
  font-family: sans-serif;
  background-color: white;
  text-align: center;
  padding: 20px;
  font-size: 22px;
  color: blue;
}

/* titulos header*/
.thebmxpage {
  font-family: cursive;
  font-size: 70px;
  font-weight: 100;
  text-align: center;
  color: #4d3a68;
  text-shadow: 1px 1px #ccc;
}

.thecultureofbmx {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
  font-weight: 100;
  text-align: center;
  color: #d1cbd9;
  text-shadow: 1px 1px #ccc;
}

/*config body para pagina "bicicletas"*/
.fotosdebicis {
  display: block;
  text-align: center;
}

.bike1 {
  height: 450px;
  padding: 10px;
  margin: 10px;
  max-width: 100%;
}

.bike2 {
  height: 450px;
  padding: 10px;
  margin: 10px;
  max-width: 100%;
}

.titulobike1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #8c1eb4;
  margin-top: 0px;
  font-weight: bold;
  font-size: 16px;
  border: 2px solid red;
  padding: 1rem;
  background-color: #eee;
}

/*ejemplo mixin */
.titulobike2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #8c1eb4;
  margin-top: 0px;
  font-weight: bold;
  font-size: 16px;
  border: 2px solid red;
  padding: 1rem;
  background-color: #eee;
}

.bike2descripcion {
  background-color: blue;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
}

/*config pagina contacto*/
.wethepeopleaddress {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 70px;
  width: 20px;
}

.wethepeopleaddress .wtp-street-address {
  font-weight: bold;
}

.wethepeopleaddress .city-state-zip-wtp {
  font-style: italic;
}

.cultaddress {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 70px;
  width: 20px;
}

.cultaddress p {
  margin: 0;
}

.cultaddress .street-address {
  font-weight: bold;
}

.cultaddress .city-state-zip {
  font-style: italic;
}

.cultaddress {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #cdc3c3;
  margin-bottom: 20px;
}

.enlancestitulo {
  text-align: center;
  color: antiquewhite;
  font-size: larger;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 10px;
}

.titulocontacto {
  font-size: 100px;
}

.enlancesbikes {
  text-align: center;
}

/*pagina fotos config */
.fotosbmx {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}

.foto1 {
  height: auto;
  max-width: 100%;
}

.foto2 {
  height: auto;
  max-width: 100%;
}

.foto3 {
  height: auto;
  max-width: 100%;
}

.foto4 {
  height: auto;
  max-width: 100%;
}

/*pagina historias config*/
.tituloprincipalbmx {
  text-align: center;
  padding: 30px;
  margin-bottom: 0%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: aliceblue;
}

.primerparrafobmx {
  text-align: center;
  padding: 30px;
  margin: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: aliceblue;
}

.segundoparrafobmx {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: darkgoldenrod;
  text-align: center;
  padding: 30px;
  margin: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tercerparrafobmx {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #8c1eb4;
  text-align: center;
  padding: 30px;
  margin: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cuartoparrafobmx {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: dodgerblue;
  text-align: center;
  padding: 30px;
  margin: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fotohoffman {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.fotohoffman1 {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

/*pagina deportistas config*/
.seanburns {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: azure;
}

.seanburns img {
  height: auto;
  max-width: 100%;
}

.garretreynolds {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: azure;
}

.garretreynolds img {
  height: auto;
  max-width: 100%;
}

.mikeaitken {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: azure;
}

.mikeaitken img {
  height: auto;
  max-width: 100%;
}

.markwebb {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: azure;
}

.markwebb img {
  height: auto;
  max-width: 100%;
}

.backgroundriders {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px;
  gap: 20px;
}

.site-footer {
  padding: 20px;
  background-color: aquamarine;
}

.logobike img {
  text-align: center;
  display: block;
  margin: 0 auto;
}

/*pagina footer config*/
.site-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 400px;
}

.orderhere {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 100;
  text-align: left;
}

/* mobile query css */
@media (max-width: 480px) {
  header {
    padding: 10px;
  }
  ul {
    font-size: 16px;
  }
  .mybodytext {
    font-size: 18px;
    padding: 10px;
  }
  .site-footer {
    height: auto;
    padding: 10px;
  }
  .thebmxpage {
    font-size: 40px;
  }
  .enlancestitulo {
    font-size: 40px;
  }
  .enlancesbikes {
    font-size: 40px;
  }
  .thecultureofbmx {
    font-size: 30px;
  }
  .contact {
    font-size: 24px;
  }
  .titulobike1,
  .titulobike2,
  .bike1descripcion,
  .bike2descripcion {
    font-size: 14px;
  }
  .tituloprincipalbmx {
    font-size: 24px;
    padding: 10px;
  }
}
@media (min-width: 480px) {
  header {
    padding: 20px;
  }
  ul {
    font-size: 20px;
  }
  .mybodytext {
    font-size: 22px;
    padding: 20px;
  }
  .site-footer {
    height: 400px;
    padding: 20px;
  }
  .thebmxpage {
    font-size: 70px;
  }
  .enlancestitulo {
    font-size: 40px;
  }
  .enlancesbikes {
    font-size: 50px;
  }
  .thecultureofbmx {
    font-size: 50px;
  }
  .contact {
    font-size: 30px;
  }
  .titulobike1,
  .titulobike2,
  .bike1descripcion,
  .bike2descripcion {
    font-size: 16px;
  }
}/*# sourceMappingURL=sass.css.map */